@charset "utf-8";
/**
 * Sample.css for addInputArea
 */

#container {
  width: 960px;
  margin: auto;
}
nav {
  width: 240px;
  margin-right: 20px;
  float: left;
}
nav li {
  margin-bottom: 0.5em;
}
article {
  width:700px;
  float:left;
}
.right {
  width: 100%;
  text-align: right;
}
.list3_add {
  display: block;
  width: 100px;
  padding: 4px 8px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #24b;
  border: 2px solid #37f;
  border-radius: 4px;
}
#list4, #list4 td {
  border: 1px solid #666;
  border-collapse: collapse;
}
#list6 table, #list6 th, #list6 td {
  border: 1px solid #aaa;
  border-collapse: collapse;
}
#section_list > li {
  border-bottom: 1px dashed #666;
  margin-bottom: 2em;
}
#language {
  padding: 4px;
  border: 1px solid #aaa;
  background: #eef;
  position: fixed;
  top: 0px;
  right: 0px;
}
h3 {
  margin-top: 1em;
  border-left: 8px solid #395;
  border-bottom: 2px solid #395;
  padding: 4px 8px;
}
pre {
  background: #555;
  color: #fff;
  font-size: 16px;
  padding: 8px;
}
p, pre {
  line-height: 1.4;
}
.green { color: #3f5; }
.red   { color: #f53; }
.gray  { color: #bbc; }
.bold  { font-weight: bold; }
footer {
  clear: both;
  padding-top: 1em;
}